<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ratione quas, recusandae sint eos fugit quisquam quis voluptas sapiente dolor, pariatur quos. Quibusdam illum explicabo veritatis illo hic assumenda quae ipsum.</p>
    </div>
</div>