<div class="card">
    <div class="card-body">
        <div class="jumbotron mt-4">
            <h1 class="display-4">Joyería Amelie</h1>
            <p class="lead">Aplicación Web</p>
            <hr class="my-4">
            <p>Pago en efectivo</p>
            <!-- <p class="lead"> -->
                <a class="btn btn-primary btn-lg" href="notes/add" role="button">Nueva venta</a>
                <a class="btn btn-primary btn-lg" href="notes" role="button">Ver ventas</a>
                <!--<a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Nuevo Arreglo</a> <br><br>
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Gastos</a>
                
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Cerrar caja</a>--> 
            <!-- </p> -->
            <hr class="my-4">
            <p>Credito - Débito</p>
            <!-- <p class="lead"> -->
                <a class="btn btn-primary btn-lg" href="notes/add" role="button">Nueva venta</a>
                <a class="btn btn-primary btn-lg" href="Jumbo action link" role="button">Ver online</a>
            <!-- </p> -->
            <hr class="my-4">
            <a class="btn btn-primary btn-lg" href="notes/add" role="button">Cerrar caja</a>
        </div>
    </div>

</div>

